body {
    background-color: white
}

li {
    display: inline;
}

footer {
    bottom: 0px;
    text-align: center;
    position: fixed;
    width: 100%
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

html {
    scroll-behavior: smooth;
}

